/* ====== CORES PRINCIPAIS ====== */
:root {
    --laranja: #f7a43b;
    --marrom-claro: #d3a170;
    --amarelo-claro: #fff4d2;
    --texto: #333;
}

/* ====== ESTILOS GERAIS ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: var(--amarelo-claro);
    color: var(--texto);
}


header {
    background: var(--laranja);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

header .logo img {
    width: 6vw;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    transition: 0.3s ease;
}

nav ul li a:hover {
    color: #000;
}


.container {
    padding: 40px;
    max-width: 1100px;
    margin: auto;
}

.mainLogo img{
    width: 35vw;
    height: 50vh;
    display: block;
    margin: 0 auto;
    background-color: white;
    
}


.login-box {
    background: #fff;
    max-width: 400px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}

.login-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--laranja);
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

.btn {
    width: 100%;
    background: var(--marrom-claro);
    color: #fff;
    padding: 12px;
    margin-top: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: var(--laranja);
}


.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    margin-bottom: 25px;
}


footer {
    background: var(--marrom-claro);
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
}

/* ====== RESPONSIVIDADE ====== */
@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
        background: var(--laranja);
        padding: 15px;
        border-radius: 10px;
    }
}
